.blog_container .blog_title .kama_breadcrumbs span a, .blog_container .project_blog_title .kama_breadcrumbs span a, .blog_container .project_single_title .kama_breadcrumbs span a, .project_blog .blog_title .kama_breadcrumbs span a, .project_blog .project_blog_title .kama_breadcrumbs span a, .project_blog .project_single_title .kama_breadcrumbs span a, .project_single .blog_title .kama_breadcrumbs span a, .project_single .project_blog_title .kama_breadcrumbs span a, .project_single .project_single_title .kama_breadcrumbs span a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  border-bottom: 1px solid transparent;
  transition: 0.3s ease;
  font-family: 'LatoRegular', sans-serif;
  text-transform: uppercase; }
  .blog_container .blog_title .kama_breadcrumbs span a:hover, .blog_container .project_blog_title .kama_breadcrumbs span a:hover, .blog_container .project_single_title .kama_breadcrumbs span a:hover, .project_blog .blog_title .kama_breadcrumbs span a:hover, .project_blog .project_blog_title .kama_breadcrumbs span a:hover, .project_blog .project_single_title .kama_breadcrumbs span a:hover, .project_single .blog_title .kama_breadcrumbs span a:hover, .project_single .project_blog_title .kama_breadcrumbs span a:hover, .project_single .project_single_title .kama_breadcrumbs span a:hover {
    border-bottom: 1px solid #000;
    color: #000;
    transition: 0.3s ease; }
.blog_container .blog_box_container, .project_blog .blog_box_container, .project_single .blog_box_container {
  display: flex;
  justify-content: space-between; }
  .blog_container .blog_box_container .post_single_box, .blog_container .blog_box_container .post_box, .project_blog .blog_box_container .post_single_box, .project_blog .blog_box_container .post_box, .project_single .blog_box_container .post_single_box, .project_single .blog_box_container .post_box {
    width: 73%; }
    .blog_container .blog_box_container .post_single_box article .meta .author, .blog_container .blog_box_container .post_box article .meta .author, .project_blog .blog_box_container .post_single_box article .meta .author, .project_blog .blog_box_container .post_box article .meta .author, .project_single .blog_box_container .post_single_box article .meta .author, .project_single .blog_box_container .post_box article .meta .author {
      margin-bottom: 10px; }
    .blog_container .blog_box_container .post_single_box article .meta .tags a, .blog_container .blog_box_container .post_box article .meta .tags a, .project_blog .blog_box_container .post_single_box article .meta .tags a, .project_blog .blog_box_container .post_box article .meta .tags a, .project_single .blog_box_container .post_single_box article .meta .tags a, .project_single .blog_box_container .post_box article .meta .tags a {
      display: inline-block;
      border: 2px solid #000;
      border-radius: 5px;
      padding: 5px 8px;
      color: #000;
      text-decoration: none;
      font-size: 14px;
      margin-right: 8px;
      transition: 0.3s ease; }
      .blog_container .blog_box_container .post_single_box article .meta .tags a:hover, .blog_container .blog_box_container .post_box article .meta .tags a:hover, .project_blog .blog_box_container .post_single_box article .meta .tags a:hover, .project_blog .blog_box_container .post_box article .meta .tags a:hover, .project_single .blog_box_container .post_single_box article .meta .tags a:hover, .project_single .blog_box_container .post_box article .meta .tags a:hover {
        color: #fff;
        background: #000;
        transition: 0.3s ease; }
    .blog_container .blog_box_container .post_single_box .link_post, .blog_container .blog_box_container .post_box .link_post, .project_blog .blog_box_container .post_single_box .link_post, .project_blog .blog_box_container .post_box .link_post, .project_single .blog_box_container .post_single_box .link_post, .project_single .blog_box_container .post_box .link_post {
      padding-bottom: 100px;
      display: flex;
      justify-content: space-between;
      width: 100%; }
      .blog_container .blog_box_container .post_single_box .link_post a, .blog_container .blog_box_container .post_box .link_post a, .project_blog .blog_box_container .post_single_box .link_post a, .project_blog .blog_box_container .post_box .link_post a, .project_single .blog_box_container .post_single_box .link_post a, .project_single .blog_box_container .post_box .link_post a {
        color: #000;
        text-decoration: none;
        font-size: 14px;
        border-bottom: 1px solid transparent;
        transition: 0.3s ease; }
        .blog_container .blog_box_container .post_single_box .link_post a:hover, .blog_container .blog_box_container .post_box .link_post a:hover, .project_blog .blog_box_container .post_single_box .link_post a:hover, .project_blog .blog_box_container .post_box .link_post a:hover, .project_single .blog_box_container .post_single_box .link_post a:hover, .project_single .blog_box_container .post_box .link_post a:hover {
          border-bottom: 1px solid #000;
          transition: 0.3s ease; }
  .blog_container .blog_box_container .sidebar_box, .project_blog .blog_box_container .sidebar_box, .project_single .blog_box_container .sidebar_box {
    width: 25%; }
    .blog_container .blog_box_container .sidebar_box .caterory_link, .project_blog .blog_box_container .sidebar_box .caterory_link, .project_single .blog_box_container .sidebar_box .caterory_link {
      margin-bottom: 30px; }
      .blog_container .blog_box_container .sidebar_box .caterory_link .title_category, .project_blog .blog_box_container .sidebar_box .caterory_link .title_category, .project_single .blog_box_container .sidebar_box .caterory_link .title_category {
        color: #323336;
        font-size: 20px;
        font-family: 'LatoRegular', sans-serif;
        margin-bottom: 20px; }
      .blog_container .blog_box_container .sidebar_box .caterory_link .category_box_sidebar .post_category_link a, .project_blog .blog_box_container .sidebar_box .caterory_link .category_box_sidebar .post_category_link a, .project_single .blog_box_container .sidebar_box .caterory_link .category_box_sidebar .post_category_link a {
        color: #323336;
        font-size: 14px;
        line-height: 25px;
        outline: none;
        font-family: 'LatoRegular', sans-serif;
        text-decoration: none;
        transition: all .3s ease 0s; }
        .blog_container .blog_box_container .sidebar_box .caterory_link .category_box_sidebar .post_category_link a:hover, .project_blog .blog_box_container .sidebar_box .caterory_link .category_box_sidebar .post_category_link a:hover, .project_single .blog_box_container .sidebar_box .caterory_link .category_box_sidebar .post_category_link a:hover {
          text-decoration: underline; }
    .blog_container .blog_box_container .sidebar_box .tags_link .title_tags, .project_blog .blog_box_container .sidebar_box .tags_link .title_tags, .project_single .blog_box_container .sidebar_box .tags_link .title_tags {
      color: #323336;
      font-size: 20px;
      font-family: 'LatoRegular', sans-serif;
      margin-bottom: 20px; }
    .blog_container .blog_box_container .sidebar_box .tags_link .tags_box_sidebar, .project_blog .blog_box_container .sidebar_box .tags_link .tags_box_sidebar, .project_single .blog_box_container .sidebar_box .tags_link .tags_box_sidebar {
      display: flex; }
      .blog_container .blog_box_container .sidebar_box .tags_link .tags_box_sidebar .post_tags_link a, .project_blog .blog_box_container .sidebar_box .tags_link .tags_box_sidebar .post_tags_link a, .project_single .blog_box_container .sidebar_box .tags_link .tags_box_sidebar .post_tags_link a {
        border: 2px solid #000;
        border-radius: 5px;
        padding: 5px 8px;
        color: #000;
        text-decoration: none;
        font-size: 14px;
        margin-bottom: 8px;
        margin-right: 8px;
        transition: 0.3s ease; }
        .blog_container .blog_box_container .sidebar_box .tags_link .tags_box_sidebar .post_tags_link a:hover, .project_blog .blog_box_container .sidebar_box .tags_link .tags_box_sidebar .post_tags_link a:hover, .project_single .blog_box_container .sidebar_box .tags_link .tags_box_sidebar .post_tags_link a:hover {
          color: #fff;
          background: #000;
          transition: 0.3s ease; }

.container_error {
  background: #faf9ff; }
  .container_error .text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh; }
    .container_error .text-center .error404-numb2 {
      color: #323336;
      font-size: 120px;
      line-height: 120px;
      font-family: 'LatoRegular', sans-serif; }
    .container_error .text-center .error404-text2 {
      text-align: center;
      color: #323336;
      font-size: 24px;
      line-height: 24px;
      font-family: 'LatoRegular', sans-serif;
      padding: 10px 0 50px 0; }
    .container_error .text-center .btn_clic a {
      font-family: LatoLight,sans-serif;
      font-size: 18px;
      display: inline-block;
      padding: 15px 30px;
      text-align: center;
      color: #fff;
      background: #0023ff;
      border-radius: 5px;
      text-decoration: none; }
      .container_error .text-center .btn_clic a:hover {
        color: #0023ff;
        background: #fff; }
